.html {
    font-family:'Verdana'
}

.middle {
    background-color: #390072;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.header2 {
    background-color: #390072;
    background-image: url("images/2crop.png");
    width: initial;
    height: auto;
}

.mid-block-2 {
    background-color: #390072;
    background-image: url("images/3.png");
}

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
}

div {
    height: 100vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

p {
    font-size: 1.5vmax;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

h1 {
    font-size: 4.5vmax;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.intro-block {
    background-color: #b1d3ff;
    background-image: url("images/1.png");
}

.logo {
    height: 15vmax;
    width: 15vmax;
}

.sponsor-logo-l {
    height: 15vw;
    width: auto;
}

.sponsor-logo-s {
    height: 8vw;
    width: auto;
}

.mid-block-1 {
    background-color: #390072;
    background-image: url("images/2.png");
}

.end-block {
    background-color: #b1d3ff;
    background-image: url("images/4.png");
}

/* dELETE THIS LATER */
.my-nav {
    background-color: #b1d3ff;
}

button {
    text-align: center;
    border: none;
    padding: 0.7vw 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.nav-button {
    background-color: #d4e7ff;
    color: #41364C;
    margin: 0vw 1vw 0vw 1vw;
    font-size: 1vw;
}

.login-button {
    background-color: #BF93BC;
    color: #41364C;
    margin: 0vw 1vw 0vw 1vw;
    font-size: 1vw;
}

.register-button {
    background-color: rgb(137, 212, 255);
    color: #666666;
    font-size: 1.5vmax;
}

.video-button {
    background-color: #c9daf8ff;
    color: #666666;
    font-size: 2vmax;
}

button:hover {
    animation-name: button-anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sponsor-logo-l:hover {
    box-shadow: 0vmin 0vmin 2vmin 0.5vmin #7da4d4;
}

.sponsor-logo-s:hover {
    box-shadow: 0vmin 0vmin 2vmin 0.5vmin #7da4d4;
}

@keyframes button-anim {
    100% {
        background-color: #6889ff;
    }
}

#button-animation {
    animation-name: button-anim;
    animation-duration: 1s;
}

@media (min-width: 182vh) { /*accomodate window dragged wide (horizontally)*/
    div {
        height: 55vw;
        width: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }           
}
