.html {
    font-family:'Lucida Sans'
}

.middle {
    background-color: #390072;

}

.header2 {
    background-color: #390072;
    background-image: url("../assets/images/2crop.png");
    width: initial;
    height: auto;
}

body {
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    overflow-x: hidden;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

/* input {
    background-color: black;
    border-radius: 5%;
    color: white;
    padding: 1vmax;
    
} */

div {
    height: 100vh;
    width: auto;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

p {
    font-size: 1.5vmax;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.form-heading {
    font-size: 2.5vmax;
    padding: 1.2vmax;
    text-align: center;
    background-color: #b1d3ff;
    color: white;
    margin-bottom: 2vmax;
    margin-top: 2vmax;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    width: auto;
}

.login-heading {
    font-size: 2.5vmax;
    padding: 1.2vmax;
    background-color: #b1d3ff;
    color: white;
    margin-bottom: 2vmax;
    margin-top: 2vmax;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}


h6 {
    font-size: 4.5vmax;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-color: crimson;
    padding: 0.5vmax;
}
/* 
label {
    padding-bottom: 2vmax;
} */

label {
    color: white;
}

h1 {
    font-size: 4.5vmax;
    color: white;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.signup-form{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 1.3vmax;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 4vmax;
}

.registered-page {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    font-size: 1.3vmax;
    color: white;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 4vmax;
}

.dashboard-wrapper {
    height:auto;
    margin-top: 60vmin; 
    background-image: linear-gradient(#390072, #232323);
    text-align: center;
}

.dashboard-column-1 {
    float: left;
    width: 50%;
}

.dashboard-column-2 {
    float: left;
    width: 33%;
}

.dashboard-row-submission:after {
    content: "";
    display: table;
    clear: both;
}

.dashboard-row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 12vh;
}

.judging-panel-submission-1 {
    background-color: brown;
    padding: 5vh;
    margin: 10vh;
}

.judging-panel-submission-2 {
    background-color: brown;
    padding: 5vh;
    margin: 10vh;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    border-radius: 5%;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;   
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.register-wrapper {
    height:auto;
    margin-top: 60vmin; 
    background-image: linear-gradient(#390072, #232323);
}

.login-wrapper {
    height:auto;
    margin-top: 60vmin; 
    background-image: linear-gradient(#390072, #232323);
}

.fa, .fa-instagram, .fa-facebook {
    color: #390072;
}

/* button {
    margin: 2vmin;
    padding: 1vmin;
    padding-left: 2vmin;
    padding-right: 2vmin;
    border-radius: 5%;
    font-size: 1.5vmax;
    background-color: #02386E;
    border-color: #02386E;
    color: white;
}
  
label {
    margin: 5vmin;
    padding-bottom: 4vmin;
    color: white;
}
  
input {
    background-color: #232323;
    outline-color: #232323;
    border-color: #232323;
    padding: 2vmin;
    font-size: 1vmax;
    color: #958856;
    font-family: 'Sura', serif;
} */

.fa-bars {
    color: #666666;
}

.row {
    height:auto;
}

.logo {
    height: 15vmax;
    width: 15vmax;
}

.sponsor-logo-l {
    height: 15vw;
    width: auto;
}

.sponsor-logo-s {
    height: 12vw;
    width: auto;
}

.intro-block {
    background-color: #b1d3ff;
    background-image: url("../assets/images/1.png");
}

.mid-block-1 {
    background-color: #390072;
    background-image: url("../assets/images/2.png");
    background-size: contain;
    background-position: top;
    height: auto;
}

.register-block {
    background-color: #390072;
    background-image: url("../assets/images/2.png");
    background-size: fill;
    background-position: top;
    height: auto;
}

.mid-block-2 {
    background-color: #390072;
    background-image: url("../assets/images/3.png");
    background-size: contain;
    height: auto;
    background-position: bottom;
}

.end-block {
    background-color: #b1d3ff;
    background-image: url("../assets/images/4.png");
}

.my-nav {
    background-color: #b1d3ff;
}

button {
    text-align: center;
    border: none;
    padding: 0.7vw 1vw;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

.nav-button {
    background-color: #d4e7ff;
    color: #41364C;
    margin: 1vw 1vw 0vw 1vw;
    font-size: 1vmax;
}

.home-button {
    background-color: #BF93BC;
    color: #41364C;
    margin: 1vw 2vw 0vw 1vw;
    font-size: 1.5vmax;
    padding-left: 1vmax;
    padding-right: 1vmax;
}

.login-button {
    background-color: #BF93BC;
    color: #41364C;
    margin: 1vw 1vw 0vw 1vw;
    font-size: 1vmax;
}

.register-button {
    background-color: #f6b26b;
    color: #666666;
    font-size: 1.5vmax;
    padding: 2vmin 3vmin;
}

.video-button {
    background-color: #b1d3ff;
    color: #666666;
    font-size: 2vmax;
    padding: 2vmin 3vmin;
}

button:hover {
    animation-name: button-anim;
    animation-duration: 0.4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.sponsor-logo-l:hover {
    box-shadow: 0vmin 0vmin 2vmin 0.5vmin #7da4d4;
}

.sponsor-logo-s:hover {
    box-shadow: 0vmin 0vmin 2vmin 0.5vmin #7da4d4;
}

/* classes to select items with javascript */

.criteria {
    color:#b1d3ff;
}

.sixty-top {
    margin-top: 60vmin;
}

.sixty-bot {
    margin-bottom: 60vmin;
}

.fifteen-bot {
    margin-bottom: 15vh;
}

.seven-bot {
    margin-bottom: 7vh;
}

.twenty-top {
    margin-top: 20vh;
}

.thirteen-left {
    margin-left: 13vmin;
}


/* animations and media queries */

@keyframes button-anim {
    100% {
        background-color: #6889ff;
    }
}

#button-animation {
    animation-name: button-anim;
    animation-duration: 1s;
}

/*accomodate backgrounds for horizontally wide displays*/
@media (min-width: 182vh) { 
    div {
        height: 55vw;
        width: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: scroll;
    }           
}

/* fixes overflow issue on mobile view */
@media (min-height: 65vw) {
    html {
        overflow-x: hidden;
    }
}
@media (min-width: 220vh) {
    html {
        overflow-x: hidden;
    }
}